<style>
    #blogPostMin {
        background-color: #4621219d;
        padding: 1rem;
    }
    h6{
        color: white;
        font-weight: bold;
    }
</style>
<div data-id="{{id}}" id='blogPostMin' class="blogPost container d-flex justify-content-between mt-2">
    <h6>{{title}}</h6>
    <h6>{{dateCreated}}</h6>
</div>