<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tech Blog</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

    <style>
      body,html {background-color: #321414;}
      main {
        background-color: rgb(198, 228, 201);
        height: 100vh;
        width: 100vw;
      }
        
      header {height: 13rem;}
      a {font-size: 2.5rem;}
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }
      li{
          margin-right: 2rem;
      }
    
    .mobile-options {
      display: flex;
      justify-content: space-between;
      width: 500px;
      font-size: 30px;
      font-weight: bold;
    }
    .mobile-options:first-child {
      margin-left: 10px;
    }

    @media(max-width: 991px){
      .mobile-options:first-child {
      margin-left: 0px;
    }
    }

    
    
      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

  </head>
  <body class="d-flex flex-column h-100  text-light">
    <header>
      <!-- Fixed navbar -->
     <nav class="navbar navbar-expand-lg padding">
      <div class="container-fluid">
    <a class="navbar-brand" href="/"> {{>secondaryHeader}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" style='background-color: #c6e4c9;' data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class='mobile-options'>
        <a class="nav-link active" aria-current="page" href="/">Home</a>
        <a class="nav-link" href="/dashboard">Dashboard</a>
        <a class="nav-link" href="/login">Login</a>
        <a id='logout' class="nav-link">Logout</a>
      </div>
    </div>
  </div>
</nav>
     
    </header>

    <!-- Begin page content -->
    <main class="flex-shrink-0 container-fluid mt-4">
        {{{body}}}
    </main>

    <footer class="footer mt-auto py-3 bg-black">
      <div class="container">
        <span class="text-muted">Tech Blogs</span>
        <div>Currently Signed in as: {{loggedInUser}} </div>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="/js/logout.js"></script>
  </body>
  
  
</html>