<style>
    .form-label{
        color: black;
        font-weight: bolder;
        font-size: larger;
    }
    .container{ 
        width: 50rem;
    }
    .createPostBtn {
    background-color: #321414;
    }
    textarea{
      width: 100%;
    }
</style>
<div class='container mt-3'>
<form>
  <div class="mb-3">
    <label  class="form-label"> Blog Title</label><br>
    <textarea id='titleBox'>{{title}}</textarea>
  </div>
  <div class="mb-3">
    <label class="form-label">Blog Body</label><br>
  <div>
   <textarea id='bodyBox'>{{body}}</textarea>
  </div>
  <div class='container d-flex flex-column'>
  <button type="submit" class="btn btn-primary" id='updatePostBtn'>Update</button>
  <button type="submit" class="btn deletePostBtn btn-primary mt-2" id='deletePostBtn'>Delete</button>
  </div>
</form>
</div>
<script src='/public/js/editPost.js'></script>