<style>
  .login-card { background-color: #a1e698; font-weight: 800; font-size: 18px;
  padding-left: 10px; padding-right: 10px; padding-bottom: 10px; border-radius:
  25px; } .btn { background-color: white; border: none; color: black;
  font-weight: 900; border-radius: 30px; width: 80px; height: 40px; margin-top:
  20px; margin-left: auto; } .page-title { text-align: center; font-weight: 800;
  font-size: 30px; } .form-input { border-radius: 10px; align-content: center; }
  .container{ padding-top: 20px; }
</style>
<div class="container loginForm justify-content-evenly align-items-center">
  <div class="login-card">
    <h2 class="page-title">Login</h2>
    <form class="form login-form">
      <div class="form-group">
        <label for="userName-login">Username:</label>
        <input class="form-input" type="text" id="userName-login" />
      </div>
      <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit" id>login</button>
      </div>
    </form>
  </div>
  <br />
  <div class="login-card">
    <h2 class="page-title">Signup</h2>
    <form class="form signup-form">
      <div class="form-group">
        <label for="username-signup">Username:</label>
        <input class="form-input" type="text" id="username-signup" />
      </div>

      <div class="form-group">
        <label for="password-signup">Password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>

      <div class="form-group">
        <button class="btn" type="submit">signup</button>
      </div>
    </form>
  </div>

</div>
<script src="/js/login.js"></script>